
nav{
    background-color: #FBF5EE!important;
}

.nav-link{
    color: #A64A49;
}

footer{
   
    width: 100%;
    padding: 30px 60px;
    background-color: #FBF5EE;
}
#group .list-group-item{
    border: none!important;
}
#group .list-group-item a{
    color: #A64A49;
    text-decoration: none;
}
.active-p{
    color: #A64A49 !important;
    border: none;
    font-weight: bold;
    background-color: #FBF5EE !important;
}
.box{
    width: 50px;
    height: 50px;

    overflow: hidden;
  }

  ul li{
      color:#A64A49
  }
  ul li:first-child{
      font-weight: bold;
      list-style: none;
  }
  
  .box img{
    width: 100%;
    height: auto;
  }

  .contenedor-cat{
      margin: 20px auto;
      width: 98%;
      height: 900px;
      flex: content;
      display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
  }

  .tarjeta{
    margin: 20px auto;
    width: 30%;
    height: 230px;
    background-color: #F7F7F7;
    padding: 1px;
  }
  .nuevo{
      width: 50px;
      height: 50px;
      border-radius: 60%;
      text-align: center;
      margin-top: 10px;
      margin-left: 11%;
      background-color: #FFF1E2;
      -webkit-box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      box-shadow: -2px 7px 17px -6px rgba(0,0,0,0.75);
      position: absolute;
      
      
  }

  #titilo{
      
      margin-top: 15px;
      color: #A64A49 ;
      font: bold;
      font-size: 13px;
      
  }


  .imagen{
    margin: 15px auto;
    width: 99%;
    height: 230px;
    
  }

  .icono{
      width: 100%;
  }
.descripcion{
    margin-top: -35px;
    text-align: center;
}

.descripcion>h5{
   font-size: 20px;
}

  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }
  .img-1{
    width:1298px;
     height:538px;
  }

  @media screen and (max-width:840px){
       #footer {
          width: 100%;
          display: flex;
          flex-direction: column !important;
      }
      .img-1{
          height: 350px;
      }
  }

  @media screen and (max-width:320px){
    #footer {
       width: 100%;
       display: flex;
       flex-direction: column !important;
   }
   .img-1{
       height: 180px;
   }
}